[all:vars]
ansible_connection=ssh
ansible_user=admin
ansible_become=true
ansible_become_method=sudo

[webservers]
web1.example.com
web2.example.com

[dbservers]
db1.example.com

[staging]
staging.example.com

[production]
web1.example.com
web2.example.com
db1.example.com

[wordpress:children]
webservers
dbservers